.paymentItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.activatorNode {
  border: 1px solid gray;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4px;
}

.activatorContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
